

.drinks-banner-text-container h2 {
    color: #FFDEAC;
    font-family: 'Noto Serif';
    font-size: 3.4rem;
    margin: auto;
    max-width: 700px;
    margin-top: -2%;
    white-space: nowrap;
}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0);
}

.drinks-banner-container{
    background:url("../../../assets/drinks-banner/drink-banner-bg.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: bottom center;
    padding: 7% 0 0 0;

}
.drinks-banner-container .descriptive-Text{
    max-width: 350px;
    color:white;
    margin-left: auto;
    font-weight: 400;
    text-align: left;
    font-size: 1em;
    line-height: 2em;
    font-family: "Montserrat";
}
.beerGlass-container, .beerGlass-container img{
    height: 100%;
}

.drinks-banner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.beerGlass-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.app-benefit span {
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
}
.app-benefit {
    margin: 5% 0;
}
button.down-load-app-button.btn.btn-primary:hover {
    background: white;
    color: black;
    font-weight: 600;
}
button.down-load-app-button.btn.btn-primary {
    width: 100%;
    margin: 6% 0;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 0;
    transition: 0.2s all ease-in;
}
.beerGlass-container img {
    width: 24vw;
    height: auto;
}
.app-benefit span img {
    width: 8%;
}
.app-benefit, .app-benefits-container {
    width: fit-content;
    /* margin: auto; */
}
.app-benefits-container{
    margin: auto;
}
.drinks-banner-text-container {
    margin-top: 5%;
}
@media screen and (max-width: 992px) {
    input.form-control {
        width: 100%;
        margin: 8px;
        font-size: 0.8rem;
    }
    button.down-load-app-button.btn.btn-primary {
        max-width: 75vw;
    }
    .beerGlass-container img {
        max-width: 60vw;
        height: auto;
    }


}
.drinks-banner-container h3 {
    color: #B1B1B1;
    font-size: 2rem;
    text-align: left;
    margin-left: 10%;
    margin: 5% 0 10% 10%;
    font-weight: 400;
}

@media screen and (max-width: 600px){
    .drinks-banner-text-container h2 {
        font-size: 8vw;
        max-width: 80vw;}
    .app-benefit span {
        font-size: 3vw;
        max-width: 50vw;
    }
    .beerGlass-container img {
        width: 60vw;
    }

    .drinks-banner-container h3 {
        font-size: 6vw;
    }
}

.drinks-banner-content-container {
    margin-top: 10%;
}
@media screen and (max-width: 678px){

    .drinks-banner-text-container {
        margin-top: 30% !important;

    }
    .drinks-banner-text-container h2 {
        margin-left: -0%;
    }

}

.drinks-banner-container .descriptive-Text{
    font-size: 0.8rem;
}
.beerGlass-container {
    margin-top: auto;
}